.DS_Store
.vscode
.local*
*node_modules
node_modules
themes/
resources
static/scripts
_package-lock.json
package-lock.json
.env.local
.env
credentials.json
static/js/node/index.js

static/js/node/index.js.map
static/js/node/github-manager.js.map
.hugo_build.lock
